@use '~styles/colors.module';
@use '~styles/functions';

.list {
  color: colors.$lavender;
  display: flex;
  gap: functions.spacing(2);
  justify-content: space-between;
}

.icon {
  height: functions.spacing(4);
  width: auto;
}
