@use '~styles/colors.module';
@use '~styles/functions';

.root {
  display: inline-flex;
  font-size: 100px;
  line-height: 0.8;

  sup {
    color: colors.$gold;
    font-size: 1.1em;
    font-weight: 750;
    top: 0.2em;
  }
}
